@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

:root {
  --primary-color: #313640;
  --small-padding: 15px;
  --small-margin: 10px;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Cormorant', serif;
  font-size: 1.1rem;
}

body {
  background: var(--primary-color);
}

header {
  height: 87px;
}


.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: var(--small-margin);
  padding: var(--small-padding);
  border-bottom: 1px solid white;
}

.menu > li {
  list-style-type: none;
  cursor: pointer;
}

.disable {
  display: none;
}

.open {
  display: block;
}

#cardapio {
  z-index: 2;
  position: relative;
}

.menu-dropdown {
  position: absolute;
  left: 0;
  top: 98px;
  background-color: rgba(0, 0, 0, 0.342);
  height: calc(100vh - 98px);
  width: 250px;
  z-index: 1;
  animation: menu-animation 0.5s ease;
}

.options-cardapio {
  position: absolute;
  top: 50%;
  padding-left: var(--small-padding);
  transform: translateY(-54%);
}

.cardapio-dropdown > li{
  list-style-type: none;
  padding: var(--small-padding);
  border-bottom: 1px solid ;
  width: 100%;
}

.cardapio-dropdown > li:hover {
  background-color: white;
  color: var(--primary-color);
  text-shadow: 0px 0px 10px var(--primary-color);
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }

}

